<h2 class="col-md-12">My Teams</h2>
<table ng-controller="TeamsController" class="table">
    <tr>
        <th>Team Name</th>
        <th>Membership Number</th>
        <th>Registration Status</th>
        <th>Action</th>
    </tr>
    {{ teams }}
    <tr ng-repeat="team in teams">
        <td>{{ team.TeamName }}</td>
        <td>{{ team.MembershipNo }}</td>
        <td>{{ team.RegistrationStatus }}</td>
        <td><a ng-href='{{ "#/team/" + team.TeamId }}' ng-if="team.RegistrationStatus != 'Submitted'">Edit</a></td>
    </tr>
</table>
<div class="form-group">
    <a class="btn" href="#/new">Create</a>
</div>